@CHARSET "UTF-8";

@import "readingbetter.css";

/* booklist */
#list	{ margin:20px auto;	width:900px; }
#list h2	{ text-align: left; margin-bottom:30px; }
#list #search-form { text-align:center; margin-bottom:20px; }
#list #book-table { 
	width:800px;
	border:1px solid #333;
	font-size:15px;
	text-align:center;
	margin:0 auto;
}
#list #book-table,
#list #book-table td { padding:5px; }
#list .img-thumbnail	{ width:200px; heigt:200px; }
#list .table-right	{ text-align:right; }
#list .table-left	{ text-align:left; }


/* makequiz */
#makequiz #radio-group	{ 
   text-align:left;
   width:400px;
   padding:10px;
   border:1px solid #666;
   border-radius:10px;
   margin:10px auto;
}
#makequiz #quiz-content	{ margin-top:50px; }

/* solvequiz */
#solvequiz #radio-group   { 
   text-align :left;
   width:400px;
   margin:10px auto;
}
#solvequiz h4   { font-weight:bold; padding:5px; }
#solvequiz #table-solve	{ width:400px; text-align:center; }
#solvequiz .col-lg-6 { height:100%; padding:10px 0; }
#solvequiz #img-solvequiz	{ width:300px; height:200px; margin-top:10px; }

/* review */
#review	{ width:100%; }
#review #img-book { width:250px; height:auto; border:1px solid #333; margin:10px; }
#review #img-singo { width: 20px; }
#review .form-group { width: 100%; }
#review #write-review { width: 85%; }


/*resultquiz*/
#resultquiz .table	{ width:400px; text-align:center; margin-left:300px; }
#resultquiz #img-result   { width:200px; height:150px; border:1px solid #333; margin:10px 0; }
#resultquiz #img-ball   { width:50px; height:50px; margin:0 10px 20px 10px;}
#resultquiz #result-table { display:none; }
#resultquiz #button-group { display:none; }